*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(bd-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.home-icon{
    margin: 15px;
}
.home-icon i{
    font-size: 1.3rem;
    /* margin: 20px; */
}
.home-icon i:hover{
    color: white;
}
.home-icon  a{
    height: auto;
    margin: 5px;
    border: 3px solid;
    padding: 10px;
}
form{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 80px; */
    border: 1px solid ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgb(65, 114, 193);
}
form h2{
    font-size: 1.7rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
label{
    font-size: 1.3rem;
    margin-bottom: 5px;
}
input{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 150px;
    /* height: 30px; */
    background-color: rgb(54, 105, 199);
    color: white;
    box-shadow: 0px 2px 2px 3px rgb(55, 55, 209);
    font-size: 1rem;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
button:active{
    box-shadow: 0 0 0 0;
}
hr{
    background-color: black;
    margin-top: 15px;
    margin-bottom: 10px;
}
p{
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}
.social-icons{
    text-align: center;
}
.social-icons i{
    border: 2px solid darkblue;
    padding: 5px;
    border-radius: 50%;
    color: blue;
    font-size: 1.3rem;
    margin-left: 10px;
}
.social-icons i:hover{
    background-color: blue;
    color: white;
}
.social-icons a:hover{
    color: wheat;
}
.login-form a:hover{
    color: white;
}
@media only screen and (max-width:750px){
    body{
    background-image: url(light-mode-mobile.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.home-icon{
    margin: 15px;
}
.home-icon i{
    font-size: 1rem;
    /* margin: 20px; */
}
.home-icon i:hover{
    color: white;
}
.home-icon  a{
    height: auto;
    margin: 5px;
    border: 3px solid;
    padding: 10px;
}
form{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 1px solid ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgb(65, 114, 193);
}
form h2{
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
label{
    font-size: 1rem;
    margin-bottom: 5px;
}
input{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 150px;
    /* height: 30px; */
    background-color: rgb(54, 105, 199);
    color: white;
    box-shadow: 0px 2px 2px 3px rgb(55, 55, 209);
    font-size: 1rem;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
button:active{
    box-shadow: 0 0 0 0;
}
hr{
    background-color: black;
    margin-top: 15px;
    margin-bottom: 10px;
}
p{
    font-size: 0.8rem;
    text-align: center;
    margin: 10px;
    font-weight: 500;
}
.social-icons{
    text-align: center;
}
.social-icons i{
    border: 2px solid rgb(43, 81, 219);
    padding: 5px;
    border-radius: 50%;
    color: rgb(74, 40, 226);
    font-size: 1rem;
    margin-left: 10px;
}
}