*{
    margin: auto;
  

}
body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    box-shadow: 5px 5px 5px 5px black;
    
    border-radius: 10px;
}
button{
    position: absolute;
    left: 900px;
    top: 600px;
    height: 50px;
    width: 160px;
    background-color: rgb(213, 6, 6);
    border-radius: 20px;
    color: white;
}
button:hover{
  /*  background-color: rgb(214, 17, 83);*/
    box-shadow: 1px 1px 1px 1px whitesmoke;
}
@media only screen and (max-width:780px){
    body{
        background-color: rgb(4, 4, 28);
    }
   img{
    margin-top: 8rem;
    width: 90%;
    height: 50%;
   }
button{
    z-index: 10;
    position: relative;
    left: 10px;
    top: 1px;
    bottom: 105px;
    
   
}

}
@media only screen and (max-width:350px){
    img{
        margin-top: 5rem;
        width: 100%;
        height: 100%;
    }
    button{
        height:30px;
        width:100px;
    }

}